
<%-include('include/_header')%>

<!--Main-->

<main id="main">
    <div id="container">
        
        <div class="form-title text-center">
            <h2 class="new_userH">Login with OTP</h2>
        </div>
        <!-- Form -->
        <form action="/otp" method="post" id="login_user">
            <div class="new_user">
                <div class="box-nav d-flex justify-between">
                    <a href="/signup" class="border-shadow">
                        <span class="new">Sign Up <i class="fa-solid fa-user-plus"></i> </span>
                    </a>
                    <% if (error) { %>
                        
                    <p class="wrong">Invalid OTP</p>
                    
                    <% } %>
                    <a href="/login" class="border-shadow">
                        <span class="new">Login with Mail ID </span>
                    </a>
                </div>
                <div class="form-group">
                    <input type="hidden" name="number" value="<%=number%>">
                    <input type="number" name="otp" value="" placeholder="OTP">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="save_btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>

<!--/Main-->

<%-include('include/_footer')%>