.bannerimg {
    position: relative;
    color: #fff;
}
.centertxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bannerlabel{
    font-size:2rem;
    font-weight: bold;
}
.bannerdecr{
    font-size: 1rem;
    font-weight: 600;
}
.product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}
.btc_home{
    background: #ffc107;
    border-radius: 50px;
    width: 40%;
    
}
.atc_home{
    background: #ff9000;
    border-radius: 50px;
    width: 40%;
    text-align: center;
    margin-top: 16px;
    font-weight: normal;
    cursor:pointer;
    margin-left: 119px;
}

.outofstock{
    position: absolute;
    content: 'OUT OF STOCK';
    right: 110px;
    color: #ff0202;
    transform: rotate(12deg);
    top: 41px;
}

.prodetail{
    position: absolute;
    margin-left: 48rem;
}

.proimg{
    position: absolute;
}

.fa-solid{
    color:wheat;
    background: none;
}
.fa-solid:hover{
    color:rgb(236, 204, 145);
    background: none;
}
button{
    background: none;
}
.product > img {
    width: 202px;
    height: 179px;
    object-fit: cover;
}

