
    <div class="new_user">
        <div class="form-group">
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter your Name" required>
        </div>
        <div class="form-group">
            <input type="number" name="number" value="" placeholder="Enter your Mobile No." required>
        </div>
        <div class="form-group">
            <input type="text" name="email" value="" placeholder="Enter your Email" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" value="" placeholder="Enter a password" required>
        </div>
        <div class="form-group">
            <label for="gender">Gender </label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Female">
                <label for="radio-2">Female</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Male">
                <label for="radio-3">Male</label>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="status">Status </label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active">
                <label for="radio-4">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive">
                <label for="radio-5">Inactive</label>
            </div>
        </div> -->
        <div class="form-group">
            <button type="submit" class="save_btn">Save</button>
        </div>
    </div>
</form>