<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
               <h3>About Us</h3>
               <ul class="about_us">
                  <li> CKart is the India's best laptop selling company. Our products and services are very specific
                     because we provide quality products. Customer Satisfaction is our main object</li>
               </ul>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6" style="margin: 0 4rem">
               <h3>Newsletter</h3>
               <ul class="conta">
                  <li>We have brands in banglore, Gurgavon, We have suppliers all over India. And we have a good
                     customer support team. If you have any questions just connect with our company </li>
                  <li style="color: #e2acff;">Email : christopharantony@gmail.com</li>
               </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
               <h3>Follow Us</h3>
               <ul class="conta">
                  <li>Let us be social</li>
               </ul>
               <div class="footer-social d-flex" style="justify-content: space-around;">
                  <a href="https://www.facebook.com/christopher.antony.50552"><i class="fa fa-facebook"
                        style="color:#fffffb; transition: all .3s ease-in-out;" onMouseOver="this.style.color='#0056b3'"
                        onMouseOut="this.style.color='#fffffb'"></i></a>
                  <a href="https://www.linkedin.com/in/christophar-antony-198a73214/"><i class="fa-brands fa-linkedin"
                        style="color:#fffffb; transition: all .3s ease-in-out;" onMouseOver="this.style.color='#0056b3'"
                        onMouseOut="this.style.color='#fffffb'"></i></a>
                  <a href="https://github.com/christopharantony"><i class="fa-brands fa-github"
                        style="color:#fffffb; transition: all .3s ease-in-out;" onMouseOver="this.style.color='#0056b3'"
                        onMouseOut="this.style.color='#fffffb'"></i></a>
                  <a href="https://www.instagram.com/___christophar____/"><i class="fa fa-instagram"
                        style="color:#fffffb; transition: all .3s ease-in-out;" onMouseOver="this.style.color='#0056b3'"
                        onMouseOut="this.style.color='#fffffb'"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p> <a href="/">© 2022 CKart</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- Ajax Add to cart -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/cartAjax.js"></script>
</body>

</html>