<!DOCTYPE html>

<html>

<head>

    <title> CKart</title>

    <link rel="stylesheet" type="text/css" href="css/cart.css">

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Button -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- As a link -->
    <nav class=" navbar-light bg-light" style="background-color: #4843a3;height: 4em; color: white; padding-left: 42em;">
        <a href="/" style="    float: left;
        margin-left: -38em;
        margin-top: 1em;
        color: white;">Home</a>
        <a class="navbar-brand" href="#" style="font-size: x-large; font-weight: bold; color: white;">CKart</a>
    </nav>

    <!-- As a heading -->
    <!-- <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </nav> -->

    <div class="container">

        <h1> Cart</h1>

        <div class="cart">

            <div class="products">
                <% console.log(products) %>
                    <% for ( let i=0; i < products.length; i++) { %>

                        <div class="product">

                            <img src="<%= products[i].Image %>">

                            <div class="product-info">

                                <h3 class="product-name">
                                    <%= products[i].Name %>
                                </h3>

                                <h4 class="product-price">$ <%= products[i].Price %>
                                </h4>

                                <h4 class="product-offer">
                                    <%= products[i].Description %>
                                </h4>

                                <p class="product-quantity">Qnt:

                                <div class="input-group" style="width: 110px;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger btn-number" data-type="minus"
                                            data-field="quant[2]">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" name="quant[2]" class="form-control input-number" value="10"
                                        min="1" max="100" style="width: 30px;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success btn-number" data-type="plus"
                                            data-field="quant[2]">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>

                                <p class="product-remove">

                                    <i class="fa fa-trash" aria-hidden="true"></i>

                                    <span class="remove">Remove</span>

                                </p>

                            </div>

                        </div>

                        <% } %>

            </div>

            <div class="cart-total">

                <p>

                    <span>Total Price</span>

                    <span>₹ 3,000</span>

                </p>

                <p>

                    <span>Number of Items</span>

                    <span>2</span>

                </p>

                <p>

                    <span>You Save</span>

                    <span>₹ 1,000</span>

                </p>

                <a href="#">Proceed to Checkout</a>

            </div>

        </div>

    </div>



</body>


</html>